h2{text-align: center;
}

.table{width: 500px;
width: 500px;
margin: auto;
font-size: 15px;}

input[type="text"]
{width: 310px;
height: 60px;
font-size: 15px;
border-radius: 25px;
padding-left: 20px;
border:2px solid rgb(148, 139, 139);}

input[type="password"]
{width: 310px;
height: 60px;
font-size: 15px;
border-radius: 25px;
outline: none;
display: block;
margin-top: 10px;
padding-left: 20px;
border:2px solid rgb(148, 139, 139);}

input[type="checkbox"]{display: none;}

.login_label {
  cursor: pointer;
  font-size: 16px;
  color: gray;
  margin-left: 5px;
  font-family: inherit;
}

#login+label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../svg/unCheck.svg');
    background-size: cover;
    margin-right: 7px;
    vertical-align: -5px;
    border: 1px solid white;
  }
  

  #login:checked+label::before {
    background-image: url('../svg/Check\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: contain;}

    #login:focus+label::before {border: 1px solid black;
  border-radius: 5px;
}

.btn{width: 330px;
height: 50px;
font-size: 15px;
border-radius: 25px;
padding-left: 10px;
background-color: rgb(34, 151, 34);
border: 0;
margin-top: 50px;
color: white;
cursor: pointer;}

.btn:hover {
    background-color: #0bc46a;}

.btn:focus{outline: none;
background-color: #0bc46a;}

input[type="checkbox"]{margin-top: 10px;
}